

#root{
    padding: 0px;
    max-width: 100%;   
}

/* NAVIGATE COMPONENT*/
.expand-header{
    width: 100%;
}

.header {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
}

.header{
    transition: all 0.3s;
}

.size-text-nav {
    font-size: 18px;
    font-weight: bold;
}

.hover-nav:hover  {
    color: #ff3318 !important;
    transition: 0.5s;
}

.scrollUp {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

